body {
    background-color: rgb(248, 240, 227);
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 65px;
    text-align: center;
    font-family: 'DynaPuff', cursive;
}

#parent-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

button {
    display: block;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    width: 200px;
}

button.selected {
    border: 3px solid black;
}

#grid-container {
    border: 1px solid black;
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: rgb(255,255,255);
    text-align: center;
}

#options-container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}